absl-py==1.0.0
antlr4-python3-runtime==4.8
argon2-cffi 
argon2-cffi-bindings 
asttokens 
astunparse==1.6.3
attrs 
backcall 
backports.functools-lru-cache 
black 
bleach 
brotlipy
cachetools==5.0.0
category-encoders==2.4.0
certifi==2021.10.8
cffi 
charset-normalizer 
click==8.0.4
cloudpickle==2.0.0
colorama 
contextlib2==21.6.0
crypto==1.4.1
cryptography 
cycler 
Cython==3.0.0a10
dataclasses 
debugpy 
decorator 
defusedxml 
dill==0.3.4
entrypoints 
executing 
fire==0.4.0
Flask==2.1.1
flatbuffers==2.0
flit_core 
fonttools 
future==0.18.2
fvcore==0.1.5.post20220512
gast==0.5.3
gin==0.1.6
gin-config==0.5.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.55.0
graphviz==0.19.1
grpcio==1.43.0
gunicorn==20.1.0
h5py==3.6.0
hydra-core==1.1.2
idna 
imageio==2.16.2
imantics==0.1.12
imgaug==0.4.0
importlib-metadata 
importlib-resources
iopath==0.1.9
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
itsdangerous==2.1.2
jedi 
Jinja2 
joblib 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver 
labelme2coco==0.2.1
libclang==13.0.0
lvis==0.5.3
lxml==4.8.0
Markdown==3.3.6
MarkupSafe 
matplotlib 
matplotlib-inline 
mediapipe==0.8.9.1
mistune 
munkres==1.1.4
mypy-extensions 
Naked==0.1.31
nbclient 
nbconvert 
nbformat
nest-asyncio 
networkx==2.8
nltk==3.7
notebook 
numpy 
oauthlib==3.2.0
object-detection==0.1
olefile 
omegaconf==2.1.2
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging 
pandas 
pandocfilters 
parso 
pathspec 
patsy 
pickleshare 
Pillow 
pixellib==0.7.1
platformdirs 
portalocker==2.4.0
prometheus-client 
promise==2.3
prompt-toolkit 
protobuf==3.19.4
pure-eval 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycparser 
pycryptodome==3.14.1
pydot 
pydotplus==2.0.2
Pygments 
pyOpenSSL 
pyparsing 
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent 
PySocks 
python-dateutil 
pytz
PyWavelets==1.3.0
pywin32==303
pywinpty 
PyYAML==6.0
pyzmq 
qtconsole 
QtPy 
regex==2022.4.24
requests 
requests-oauthlib==1.3.1
rsa==4.8
sahi==0.9.3
scikit-image==0.19.2
scikit-learn 
scipy 
seaborn 
Send2Trash 
Shapely==1.8.2
shellescape==3.8.1
six 
stack-data 
statsmodels 
tabulate==0.8.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-addons==0.16.1
tensorflow-datasets==4.5.2
tensorflow-examples===f67a01daeb5cc34b1c5a3a2ee25c977321a86280-
tensorflow-hub==0.12.0
tensorflow-io==0.24.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-metadata==1.6.0
termcolor==1.1.0
terminado 
terminaltables==3.1.10
testpath 
tf-estimator-nightly==2.8.0.dev2021122109
tf-models-official==2.8.0
tf-slim==1.1.0
threadpoolctl 
tifffile==2022.4.8
tomli 
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado 
tqdm==4.62.3
traitlets 
typed-ast 
typeguard==2.13.3
typing_extensions 
unicodedata2 
urllib3 
wcwidth 
webencodings==0.5.1
Werkzeug==2.0.2
wget==3.2
widgetsnbextension 
win-inet-pton 
wrapt==1.13.3
xgboost==1.5.2
xmljson==0.2.1
yacs==0.1.8
zipp 
