<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
</head>
<body>
    <h1>{{filename}}</h1>
    <p>
        {% with message = get_flashed_messages() %}
        {% if message %}
        <ul>
            {% for msg in message %}
            <li>{{msg}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
    <div>
        <img style="max-width: 128px; max-height: 128px;" src="{{url_for('display',filename=filename)}}" alt="">
    </div>
    {% endif %}
    <h1>Predicted Segmentation</h1>
    {% if filename %}
    <div>
        <img src="{{url_for('displaypred',filename=filename)}}" alt="">
    </div>
    {% endif %}
</body>
</html>